<%- include('partials/header', { title: 'Chi siamo'}) %>            
    <%- include('partials/navbar', { currentPage: 'chi_siamo' }) %>

    <!-- MAIN -->
    <main class="main-content informations">
        <div class="container p-5">
            <h1 class="text-center mb-4">Chi siamo</h1>
            <p>
                Benvenuti in Trainly! Siamo un team appassionato di fitness e benessere, dedicato ad aiutarti a raggiungere i tuoi obiettivi di forma fisica. Offriamo una varietà di risorse tra cui programmi di allenamento strutturati, coaching online personalizzato e guide pratiche sotto forma di e-book.
            </p>
            <p>
                La nostra missione è rendere l'allenamento accessibile e efficace per tutti, dai principianti a chi cerca un supporto più avanzato e personalizzato. Crediamo nell'importanza di un approccio olistico che includa allenamento, alimentazione e supporto continuo.
            </p>
            <p>
                Attraverso i nostri servizi di coaching, forniamo schede personalizzate, piani alimentari flessibili redatti da una nutrizionista, correzioni tramite audio/video e un monitoraggio costante dei progressi. Per coloro che preferiscono allenarsi in autonomia, i nostri programmi standard offrono routine pensate per allenamenti generali. Inoltre, i nostri e-book offrono strategie pratiche e subito applicabili per migliorare i risultati e costruire abitudini sane.
            </p>
            <p>
                Siamo qui per supportarti in ogni fase del tuo percorso. Puoi sempre contare sulla nostra assistenza per domande, dubbi o consigli sul tuo programma.
            </p>
                <p>
                Grazie per aver scelto Trainly!
                </p>
        </div>
    </main>

<%- include('partials/footer') %>