/*NAVBAR*/
.name, .name:hover{
    color: royalblue; 
    font-size: 35px;
    text-decoration: none;
}
.nav .nav-link {
    text-decoration: none;
    color:black;
    font-size: 17px;
}

.nav-link:hover, #cartOffcanvas a.link-info:hover{
    color: cornflowerblue;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.nav .nav-link.active{
    color: rgb(17, 57, 133);
}

.bi-dumbbell, .bi-chevron-down,.bi-person , .bi-cart, .bi-search, .btn1:focus, .btn1.show{
    color: royalblue;
}

nav div svg:not(.bi-dumbbell):hover{
    transform: scale(1.2);
}

.bi:not(.bi-dumbbell, .bi-instagram, .bi-youtube, .bi-facebook):hover, #userDropdown.btn1:active{
    color:  rgb(17, 57, 133);
    border-color:  rgb(17, 57, 133);
    outline: none; 
}

.btn1[aria-expanded="true"] .bi-chevron-down {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.offcanvas{
    color:white;
    background-color: rgb(17, 57, 133);
}

.offcanvas-top.show{
    height: auto;       
    min-height: 18vh;   
    max-height: 20vh;   
    overflow-y: auto;   
}

.offcanvas .btn:hover, .navbar .btn:hover  {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

[data-bs-toggle="offcanvas"] {
    pointer-events: auto;
    cursor: pointer;
}

.btn {
    --bs-btn-border-width:0%;
    border: none;
    border-radius: 20px;
}

.navbar .btn:hover, .btn-light:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}


/* footer */

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a svg {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

footer a:hover svg {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

footer {
    border-top: 2px solid royalblue;
    padding-top: 20px;
    color:white;
    background-color: rgb(17, 57, 133);
}

@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
    .sidenav {
      display: none;
    }
}


.navbar-toggler:focus{
    color:transparent;
}

.navbar-toggler:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    color:transparent;
}

.bi-three-dots {
    color: royalblue; 
}

.form-search:hover{
    transition: transform 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.btn-custom {
    background: linear-gradient(90deg, royalblue, rgb(17, 57, 133)) !important;
    border: none;
}

.carrello-footer .btn-checkout {
    background: rgb(24, 72, 162);
}