.card-title{
  color: royalblue;
}

.home{
  color:  rgb(17, 57, 133);
  border-color:  rgb(17, 57, 133);
  outline: none; 
}

.main-catalogo{
  color:white;
  background-color: rgb(17, 57, 133);
}

.card-prod {
  transition: transform 0.3s cubic-bezier(.4,2,.6,1);
}

.card-prod:hover, .btn-discover:hover {
  transform: scale(1.04);
  z-index: 2;
}

.btn-discover{
  background: linear-gradient(90deg,  royalblue, rgb(17, 57, 133));
  width: 40%;
}



